@import "normalize";

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#offer {
  flex: 0 0 300px;
  max-width: 300px;

  img {
    width: 100%;
  }

  form {
    width: 100%;
    display: flex;

    button {
      flex: 0 0 80px;
    }

    input {
      flex: 1;
    }
  }
}

#controls {
  width: 100%;
  height: 100%;
  background-color: #468966;
  color: white;

  #up, #down {
    height: 50vh;
    line-height: 50vh;
    font-size: 2em;
    text-align: center;
    transition: background-color .1s ease-in-out;
    display: block;
    color: inherit;
    text-decoration: none;
    &:active {
      background-color: lighten(#468966, 10%);
    }
  }

  #up {
    border-bottom: lighten(#468966, 10%) solid 1px;
  }
}

#log {
  display: none;
}
